applications:
  kafka:
    channel: 3/edge
    charm: kafka
    num_units: 1
    revision: 205
    series: jammy
{%- if tls %}
  self-signed-certificates:
    channel: latest/stable
    charm: self-signed-certificates
    num_units: 1
    options:
      ca-common-name: canonical
    revision: 155
    series: jammy
{%- endif %}
  zookeeper:
    channel: 3/edge
    charm: zookeeper
    num_units: 3
    revision: 158
    series: jammy
description: A fast, secure and fault-tolerant Apache Kafka, supported by Apache ZooKeeper
issues: https://github.com/canonical/kafka-bundle/issues/new
name: kafka-bundle
relations:
{%- if tls +%}
- - zookeeper:certificates
  - self-signed-certificates:certificates
- - kafka:certificates
  - self-signed-certificates:certificates
{%- endif %}
- - kafka:zookeeper
  - zookeeper:zookeeper
series: jammy
source: https://github.com/canonical/kafka-bundle
