# Copyright 2025 Canonical Ltd.
# See LICENSE file for licensing details.

saas:
  grafana-dashboards:
    url: {{ cos_controller|default('micro', true) }}:admin/{{ cos_model|default('cos', true) }}.grafana-dashboards
  prometheus-receive-remote-write:
    url: {{ cos_controller|default('micro', true) }}:admin/{{ cos_model|default('cos', true) }}.prometheus-receive-remote-write
  loki-logging:
    url: {{ cos_controller|default('micro', true) }}:admin/{{ cos_model|default('cos', true) }}.loki-logging
applications:
  cos-agent:
    charm: grafana-agent
    channel: latest/edge
    revision: 429
    trust: true
    num_units: 0
relations:
- - kafka:cos-agent
  - cos-agent:cos-agent
- - cos-agent:grafana-dashboards-provider
  - grafana-dashboards:grafana-dashboard
- - cos-agent:send-remote-write
  - prometheus-receive-remote-write:receive-remote-write
- - cos-agent:logging-consumer
  - loki-logging:logging

