name: Integration tests
on:
  schedule:
    - cron:  '0 12 * * 3'
  workflow_call:
  workflow_dispatch:

jobs:
  integration-test-lxd:
    name: Integration tests for machine charms
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup operator environment
        uses: charmed-kubernetes/actions-operator@main
        with:
          provider: lxd
          bootstrap-options: "--agent-version 2.9.38"
      - name: Run machine integration tests
        run: |
          tox -e integration-vm -- --bundle "releases/latest/machine/kafka/bundle.yaml"

