name: integration tests
on:
  workflow_call:
  workflow_dispatch:
jobs:
  integration-test-lxd:
    name: Integration tests for machine charms
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup operator environment
        uses: charmed-kubernetes/actions-operator@main
        with:
          provider: lxd
          bootstrap-options: "--agent-version 2.9.38"
      - name: Run machine integration tests
        run: |
          tox -e integration-vm -- --bundle $PWD"/releases/latest/machine/kafka/bundle.yaml"

  integration-test-k8s:
    runs-on: ubuntu-latest
    name: Integration tests for k8s charms
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup operator environment
        uses: charmed-kubernetes/actions-operator@main
        with:
          provider: microk8s
          bootstrap-options: "--agent-version 2.9.38"
      - name: Run k8s integration tests
        run: |
          tox -e integration-k8s -- --bundle $PWD"/releases/latest/k8s/kafka-k8s/bundle.yaml"
