# Copyright 2023 Canonical Ltd.
# See LICENSE file for licensing details.
name: Update bundle

on:
  workflow_dispatch:
  schedule:
    - cron: '53 0 * * *'  # Daily at 00:53 UTC

jobs:
  update-bundle:
    name: Update bundle
    uses: canonical/data-platform-workflows/.github/workflows/update_bundle.yaml@v2
    with:
      path-to-bundle-file: releases/3/kafka/bundle.yaml
      reviewers: marcoppenheimer,deusebio
    secrets:
      token: ${{ secrets.PAT }}
